.navigation_bar{
    margin-left: -40px !important;
}
body {
    margin: 0;
    padding: 0;
    background-image: url("abstrakte-hintergrunddesignbilder-hintergrundbild-von-ai-generiert_643360-179733.avif");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.text-container{
    position: absolute;
    font-family: 'Arial', sans-serif;
    text-shadow: 3px 1px rgba(0,0,0,0.8);
    color: white;
    margin-left: 15%;
    font-size: xx-large;
}
.text-container2{
    position: absolute;
    font-family: 'Arial', sans-serif;
    text-shadow: 3px 1px rgba(0,0,0,0.8);
    color: white;
    margin-left: 18%;
    font-size: x-large;
}
.body-image{
    height: 400px;
    width: 600px;
    object-fit: cover;
    position: absolute;
    top: 45%;
    left: 18%;
}
.body-image2{
    height: 400px;
    width: 600px;
    object-fit: cover;
    position: absolute;
    top: 45%;
    left: 50%;
}
.text-container3{
    position: absolute;
    font-family: 'Arial', sans-serif;
    text-shadow: 3px 1px rgba(0,0,0,0.8);
    color: white;
    margin-left: 25%;
    font-size: xx-large;
}
.text-container4{
    position: absolute;
    font-family: 'Arial', sans-serif;
    text-shadow: 3px 1px rgba(0,0,0,0.8);
    color: white;
    margin-left: 20%;
    font-size: x-large;
}
.body-image3{
    height: 400px;
    width: 600px;
    object-fit: cover;
    position: absolute;
    top: 125%;
    left: 18%;
}
.body-image4{
    height: 400px;
    width: 600px;
    object-fit: cover;
    position: absolute;
    top: 125%;
    left: 50%;
}
.text-container5{
    position: absolute;
    font-family: 'Arial', sans-serif;
    text-shadow: 3px 1px rgba(0,0,0,0.8);
    color: white;
    margin-left: 28%;
    font-size: xx-large;   
}
.text-container6{
    position: absolute;
    font-family: 'Arial', sans-serif;
    text-shadow: 3px 1px rgba(0,0,0,0.8);
    color: white;
    margin-left: 18%;
    font-size: x-large;   
}
.body-image5{
    height: 400px;
    width: 600px;
    object-fit: cover;
    position: absolute;
    top: 202.5%;
    left: 35%;
}