.navigation_bar{
    margin-left: -40px !important;
}
.title{
    position: absolute;
    margin-left: 40%;
    color: white;
    font-family: 'Arial', sans-serif;
    font-size: xx-large;
}
.title2{
    position: absolute;
    margin-left: 40%;
    color: white;
    font-family: 'Arial', sans-serif;
    font-size: x-large;
}
.title3{
    position: absolute;
    margin-left: 40%;
    color: white;
    font-family: 'Arial', sans-serif;
    font-size: x-large;
}
.iframe{
    position: absolute;
    top: 41.5%;
    left: 52%;
}  
body {
    margin: 0;
    padding: 0;
    background-image: url("abstrakte-hintergrunddesignbilder-hintergrundbild-von-ai-generiert_643360-179733.avif");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}