*{
    margin: 0;
    padding: 0;
}
html{
    height: 100%;
}
body{
    height: 100%;
    background-color: #282c34;
}
nav{
    min-height: 80px;
    display: flex;
    align-items: center;
    background-color: white;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.11);
}
.nav_logo{
    margin: 20px;
    font-size: 30px;
    font-family: sans-serif;
    font-style: italic;
}
nav ul{
    display: flex;
}
nav ul li{
    height: 100%;
    padding: 30px;
    list-style-type: none;
}
nav ul li:hover{
    border-bottom: 4px solid #503383;
}
nav ul li a{
    color: #272727;
    text-decoration: none;
    font-size: 22px;
    font-family: sans-serif;
}

.toggle-button{
    position: absolute;
    top: 25px;
    right: 25px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 23px;
}

.toggle-button .bar{
    height: 4px;
    width: 100%;
    background-color: #272727;
    border-radius: 100px;
}

@media(max-width:750px){
    .list-container{
        display: none;
        width: 100%;
    }
    .toggle-button{
        display: flex;
    }
    nav{
        flex-direction: column;
        align-items: flex-start;
    }
    .list-container ul{
        flex-direction: column;
        width: 100%;
    }
    .list-container li{
        text-align: center;
    }

    .list-container.active{
        display: flex;
    }
} 
nav ul li ul{
    display: none;
    position: absolute;
    text-align: center;
    background-color: #503383;
    padding: 4px;
    border-radius: 0px 0px 12px 12px;
    transform: translateX(-35%)
}
nav ul li:hover ul{
    display: block;
}
nav ul li ul li a{
    color: white;
    padding: 8px 12px;
    border-radius: 10px;
}
nav ul li ul li a:hover{
    background-color: #6441a5;
}
.logo_top_left{
padding-right:45% !important;

}